scipy>=1.4.1
torch~=1.12.0
opencv-python~=4.5.5.64
numpy~=1.21.5
torchvision~=0.13.0
pydicom~=2.3.0
tqdm~=4.64.0
matplotlib
plotly
jupyter
cufflinks
lightgbm
scikit-learn
joblib
optuna
nibabel
pylibjpeg
pylibjpeg-libjpeg
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu117
kaleido==0.1.0post1